{
	"parser": "@typescript-eslint/parser",
	"extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "prettier"],
	"plugins": ["@typescript-eslint"],
	"ignorePatterns": ["*.cjs"],
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": 2020
	},
	"env": {
		"browser": true,
		"es2017": true,
		"node": true
	},
	"rules": {
		"turbo/no-undeclared-env-vars": "off",
		"@typescript-eslint/no-inferrable-types": "off",
		"@typescript-eslint/typedef": [
			"error",
			{
				"arrowParameter": true,
				"variableDeclaration": true,
				"variableDeclarationIgnoreFunction": true
			}
		],
		"@typescript-eslint/no-explicit-any": "error"
	}
}
