# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.test

# TypeScript Build Directory
dist/

# Visual Studio Code
.vscode/*

# Google Service Account
service_account.json
